[submodule "paper-skeleton"]
	path = paper-skeleton
	url = git@github.com:noise-lab/paper-skeleton.git
[submodule "service-recognition"]
	path = service-recognition
	url = git@github.com:noise-lab/service-recognition.git
[submodule "privacy-dnn"]
	path = privacy-dnn
	url = git@github.com:tejaskannan/privacy-dnn-early-exit-paper.git
[submodule "content-moderation"]
	path = content-moderation
	url = git@github.com:noise-lab/content-moderation.git
[submodule "vca-qoe"]
	path = vca-qoe
	url = git@github.com:agupta13/Inferring-QoE-for-VCAs.git
[submodule "pcapml"]
	path = pcapml
	url = git@github.com:nprint/pcapml.git
[submodule "censorship-book"]
	path = censorship-book
	url = git@github.com:noise-lab/censorship-book.git
[submodule "old/video-inference-inra"]
	path = old/video-inference-inria
	url = https://github.com/wontoniii/video_inference.git
[submodule "benchmarks-equity"]
	path = benchmarks-equity
	url = git@github.com:chicago-cdac/benchmarks-equity.git
[submodule "old/ocsvm-iot-tmlr-2022"]
	path = old/ocsvm-iot-tmlr-2022
	url = git@github.com:noise-lab/ocsvm-iot.git
[submodule "vca-qoe-paper"]
	path = vca-qoe-paper
	url = git@github.com:tarunmangla/2023.xxx.vca-qoe-inference.git
[submodule "internet-equity"]
	path = internet-equity
	url = git@github.com:chicago-cdac/internet-equity-minutes.git
[submodule "nprint"]
	path = nprint
	url = git@github.com:nprint/nprint.git
[submodule "noise-lab"]
	path = noise-lab.github.io
	url = git@github.com:noise-lab/noise-lab.github.io.git
[submodule "old/bitag-secure-routing-2021"]
	path = old/bitag-secure-routing-2021
	url = git@github.com:bitag-twg-org/secure-routing.git
[submodule "netrics-wifi"]
	path = netrics-wifi
	url = git@github.com:chicago-cdac/netrics-wifi.git
[submodule "vc-autoencoder"]
	path = vc-autoencoder
	url = git@github.com:junchenj/Autoencoder-Videoconference-V2.git
[submodule "old/cox-rebuttal-2019"]
	path = old/cox-rebuttal-2019
	url = git@bitbucket.org:feamster/cox-rebuttal-2019-05.git
[submodule "old/iot-citp"]
	path = old/iot-citp
	url = git@github.com:citp/iot-security.git
[submodule "old/iot-snp-2015"]
	path = old/iot-snp-2015
	url = git@github.com:danielwood95/iotsnp.git
[submodule "old/iot-ci-usenix-2018"]
	path = old/iot-ci-usenix-2018
	url = git@github.com:NoahApthorpe/Usenix2018.git
[submodule "old/vca-imc-2022"]
	path = old/vca-imc-2022
	url = git@github.com:tarunmangla/2021.imc.vca.git
[submodule "old/vpn-usenix-2022"]
	path = old/vpn-usenix-2022
	url = git@github.com:noise-lab/vpn-usage-survey.git
[submodule "old/political-audit-cscw-2021"]
	path = old/political-audit-cscw-2021
	url = git@github.com:natematias/CHI-2020-Political-Ad-Audit-Paper.git
[submodule "old/speedtest-cacm-2020"]
	path = old/speedtest-cacm-2020
	url = git@github.com:feamster/cacm-broadband-speedtest.git
[submodule "old/pgpp"]
	path = old/pgpp
	url = git@github.com:USC-NSL/cell-privacy.git
[submodule "old/netasm-haskell"]
	path = old/netasm-haskell
	url = git@github.com:NetASM/NetASM-haskell.git
[submodule "old/analyticsops"]
	path = old/analyticsops
	url = git@github.com:schmittpaul/analyticsops.git
[submodule "old/spine-foci-2019"]
	path = old/spine-foci-2019
	url = git@github.com:noise-lab/spine-foci2019.git
[submodule "nm-exp-active-netrics"]
	path = nm-exp-active-netrics
	url = git@github.com:chicago-cdac/nm-exp-active-netrics.git
[submodule "old/sdn"]
	path = old/sdn
	url = https://github.com/SystemsApproach/sdn.git
[submodule "old/programmable-measurement"]
	path = old/programmable-measurement
	url = git@github.com:PrincetonUniversity/programmable-measurement.git
[submodule "old/slack-history-export"]
	path = old/slack-history-export
	url = git@github.com:andxyz/slack-history-export.git
[submodule "old/divide-tprc-2022"]
	path = old/divide-tprc-2022
	url = git@github.com:tarunmangla/2022.tprc.chicago-digital-divide.git
[submodule "old/augur-papers"]
	path = old/augur-papers
	url = git@github.com:censory/augur_papers.git
[submodule "old/geolocation-pam-2022"]
	path = old/geolocation-pam-2022
	url = git@github.com:JamesSaxon/geolocation-paper.git
[submodule "old/dog-ndss-2021"]
	path = old/doh-ndss-2021
	url = git@github.com:anisenoff/NDSS-WorkshopPaper.git
[submodule "old/alexa-toit-2021"]
	path = old/alexa-toit-2021
	url = git@github.com:noise-lab/alexa-user-study.git
[submodule "old/courses/coursera-sdn"]
	path = old/courses/coursera-sdn
	url = git@github.com:PrincetonUniversity/Coursera-SDN.git
[submodule "old/netrics-deployment-data"]
	path = old/netrics-deployment-data
	url = git@github.com:chicago-cdac/netrics-deployment-data.git
[submodule "old/nsf-qoe"]
	path = old/nsf-qoe
	url = git@bitbucket.org:feamster/nsf-qoe.git
[submodule "old/courses/ml-networks-ai4all"]
	path = old/courses/ml-networks-ai4all
	url = git@github.com:NoahApthorpe/ML-Networks.git
[submodule "old/net-wellbeing-imwut-2021"]
	path = old/net-wellbeing-imwut-2021
	url = git@github.com:jhester/net-wellbeing-imwut21.git
[submodule "old/osnt-ieee-2014"]
	path = old/osnt-ieee-2014
	url = git@github.com:NetFPGA/OSNT-Paper.git
[submodule "old/iot-cscw-2018-2"]
	path = old/iot-cscw-2018-2
	url = git@github.com:NoahApthorpe/CSCW-2018-IoT-Interviews.git
[submodule "old/labels-tprc-2022"]
	path = old/labels-tprc-2022
	url = git@github.com:kyle-macmillan/2022.tprc.labels.git
[submodule "old/iot-privacy-noah"]
	path = old/iot-privacy-noah
	url = git@github.com:NcoderA/IoTprivacy.git
[submodule "old/country-centrality-compass-2018"]
	path = old/country-centrality-compass-2018
	url = git@github.com:ae243/country-centrality.git
[submodule "lab-guide"]
	path = lab-guide
	url = git@github.com:noise-lab/lab-guide.git
[submodule "old/autoencoder-hotnets"]
	path = old/autoencoder-hotnets
	url = git@github.com:junchenj/Autoencoder-Videoconference-HotNets.git
[submodule "old/twitter-fake-news"]
	path = old/twitter-fake-news
	url = git@github.com:noise-lab/twitter-fake-news.git
[submodule "old/isdx"]
	path = old/isdx
	url = git@github.com:sdn-ixp/iSDX.git
[submodule "old/netassay-sigcomm-2014"]
	path = old/netassay-sigcomm-2014
	url = git@github.com:sdonovan1985/netassay-sigcomm-poster.git
[submodule "old/p4-vswitch"]
	path = old/p4-vswitch
	url = git@github.com:PrincetonUniversity/P4-vSwitch.git
[submodule "old/pathsets-macdavid"]
	path = old/pathsets-macdavid
	url = git@github.com:robertmacdavid/PathSets-private.git
[submodule "old/sdx-jsac"]
	path = old/sdx-jsac
	url = git@github.com:agupta13/jsac_sdx.git
[submodule "old/sdx-wap"]
	path = old/sdx-wap
	url = git@github.com:PrincetonUniversity/WAP.git
[submodule "old/r-encoding"]
	path = old/r-encoding
	url = git@github.com:PrincetonUniversity/r-encoding.git
[submodule "old/sdx-swap"]
	path = old/sdx-swap
	url = git@github.com:PrincetonUniversity/SWAP.git
[submodule "old/sdx-correctness"]
	path = old/sdx-correctness
	url = git@github.com:nsg-ethz/sdx_correctness_paper.git
[submodule "old/flanc"]
	path = old/flanc
	url = git@github.com:PrincetonUniversity/FLANC.git
[submodule "old/pyretic"]
	path = old/pyretic
	url = https://github.com/frenetic-lang/pyretic.git
[submodule "old/resonance"]
	path = old/resonance
	url = git@bitbucket.org:resonance_sdn/papers.git
[submodule "old/paper_skel"]
	path = old/paper_skel
	url = https://github.com/efficient/paper_skel.git
[submodule "old/flowqos-ccr"]
	path = old/flowqos-ccr
	url = git@github.com:mseddiki/FlowQoS_CCR_JUNE.git
[submodule "old/flowqos-ccr-2"]
	path = old/flowqos-ccr-2
	url = git@github.com:mseddiki/FlowQoS_CCR_SEPTEMBER_ISSUE_revised.git
[submodule "old/netassay-hotnets-2014"]
	path = old/netassay-hotnets-2014
	url = git@github.com:sdonovan1985/hotnets-2014-paper.git
[submodule "old/netassay-sosr2015"]
	path = old/netassay-sosr2015
	url = git@github.com:sdonovan1985/sosr2015paper.git
[submodule "old/iot-medical-acm-2017"]
	path = old/iot-medical-acm-2017
	url = https://github.com/danielwood95/iot-paper-acm
[submodule "old/powerline-covert"]
	path = old/powerline-covert
	url = git@github.com:PrincetonUniversity/plc_covert_channel.git
[submodule "old/nprint-paper"]
	path = old/nprint-paper
	url = git@github.com:JordanHolland/agnostic-ml.git
[submodule "old/slick-sosr-2015"]
	path = old/slick-sosr-2015
	url = git@github.com:bilalanwer/slick.git
[submodule "old/rcc-configs"]
	path = old/rcc-configs
	url = git@bitbucket.org:feamster/rcc-configs.git
[submodule "old/noise-www"]
	path = old/noise-www
	url = git@github.com:noise-lab/noise-www.git
[submodule "old/qoe-user-heterogeneity"]
	path = old/qoe-user-heterogeneity
	url = git@github.com:hyperpro/qoe_user_heterogeneity_short.git
[submodule "old/traffic-refinery"]
	path = old/traffic-refinery
	url = git@github.com:traffic-refinery/traffic-refinery.git
[submodule "old/deniable-measurements-hotnets-2015"]
	path = old/deniable-measurements-hotnets-2015
	url = git@bitbucket.org:ben-jones/deniable-measurements.git
[submodule "old/spookyscan-2016"]
	path = old/spookyscan-2016
	url = git@github.com:SweetDJ/Spooky.git
[submodule "old/honest-jones-2016"]
	path = old/honest-jones-2016
	url = git@bitbucket.org:ben-jones/honest-paper.git
[submodule "old/blocker-sathya"]
	path = old/blocker-sathya
	url = git@github.com:gsathya/blocker.git
[submodule "old/expansion-imc-2014"]
	path = old/expansion-imc-2014
	url = git@github.com:USC-NSL/IMC2014-ExpansionImpact.git
[submodule "old/android-performance-2012"]
	path = old/android-performance-2012
	url = git@github.com:msp8955/androidperformance.git
[submodule "old/comcast-pam-2016"]
	path = old/comcast-pam-2016
	url = git@github.com:shahifaqeer/comcast-analysis.git
[submodule "old/android-performance-andrew-2012"]
	path = old/android-performance-andrew-2012
	url = git@github.com:ykim320/androidperformance.git
[submodule "old/iot-ieee-dls-2017"]
	path = old/iot-ieee-dls-2017
	url = git@github.com:NoahApthorpe/IoT-DoS-Detection-Rohan.git
[submodule "old/sonata"]
	path = old/sonata
	url = git@github.com:agupta13/vighata.git
[submodule "old/sonata-nsdi-2018"]
	path = old/sonata-nsdi-2018
	url = git@github.com:agupta13/nsdi18.git
[submodule "netmicroscope.github.io"]
	path = netmicroscope.github.io
	url = git@github.com:netmicroscope/netmicroscope.github.io.git
[submodule "old/feamster-phd-thesis"]
	path = old/feamster-phd-thesis
	url = git@github.com:noise-lab/feamster-phd-thesis.git
[submodule "old/dns-manipulation-pam-2016"]
	path = old/dns-manipulation-pam-2016
	url = git@bitbucket.org:ben-jones/dns-manip-paper.git
[submodule "old/doh-interface-usenix-2023"]
	path = old/doh-interface-usenix-2023
	url = git@github.com:anisenoff/DoH-Interface.git
[submodule "old/iot-inspector"]
	path = old/iot-inspector
	url = git@github.com:noise-lab/iot-inspector.git
[submodule "old/iris-papers"]
	path = old/iris-papers
	url = git@github.com:censory/iris_papers.git
[submodule "old/sonata-dev"]
	path = old/sonata-dev
	url = https://github.com/Sonata-Princeton/SONATA-DEV.git
[submodule "old/tor-sybil-2016"]
	path = old/tor-sybil-2016
	url = git@github.com:NullHypothesis/sybil-paper.git
[submodule "old/censored-planet-2015"]
	path = old/censored-planet-2015
	url = git@github.com:SweetDJ/Globe-Censor.git
[submodule "old/iot-princeton"]
	path = old/iot-princeton
	url = git@github.com:PrincetonUniversity/iot.git
[submodule "old/iot-ci-cscw-2018"]
	path = old/iot-ci-cscw-2018
	url = git@github.com:NoahApthorpe/CSCW-2018-IoT-Interviews.git
[submodule "old/device-id-danny-2019"]
	path = old/device-id-danny-2019
	url = git@github.com:noise-lab/device-id-paper.git
[submodule "old/iot-relationships-cscw-2019"]
	path = old/iot-relationships-cscw-2019
	url = git@github.com:NoahApthorpe/IoT-Relationships-CHI-2021.git
[submodule "old/speedtest-sigmetrics-2023"]
	path = old/speedtest-sigmetrics-2023
	url = git@github.com:kyle-macmillan/2022.imc.speedtest.git
[submodule "old/odns-pets-2019"]
	path = old/odns-pets-2019
	url = git@github.com:schmittpaul/obliviousDNS.git
[submodule "old/iot-outlier-netml"]
	path = old/iot-outlier-netml
	url = git@github.com:noise-lab/iot-outlier-detection.git
[submodule "old/circumvention-jordan"]
	path = old/circumvention-jordan
	url = git@github.com:JordanHolland/circumvention.git
[submodule "old/heterogeneous-qoe-xu"]
	path = old/heterogeneous-qoe-xu
	url = git@github.com:noise-lab/heterogeneous-qoe.git
[submodule "old/dns-tussle-hotnets-2021"]
	path = old/dns-tussle-hotnets-2021
	url = git@github.com:noise-lab/multi-trr.git
[submodule "old/sdn-book"]
	path = old/sdn-book
	url = git@github.com:noise-lab/sdn-book.git
[submodule "old/smart-tv-tracking-ccs-2019"]
	path = old/smart-tv-tracking-ccs-2019
	url = git@github.com:blizzardplus/smart-tv-tracking.git
[submodule "old/router-fingerprinting-princeton"]
	path = old/router-fingerprinting-princeton
	url = git@github.com:JordanHolland/rfp.git
[submodule "old/covid-iab-2019"]
	path = old/covid-iab-2019
	url = git@github.com:jlivingood/IAB-COVID19.git
[submodule "old/doh-www-2020"]
	path = old/doh-www-2020
	url = git@github.com:noise-lab/doh-performance.git
[submodule "old/covid-net-pam-2020"]
	path = old/covid-net-pam-2020
	url = git@github.com:noise-lab/hw-gap.git
[submodule "old/containet"]
	path = old/containet
	url = https://snrism@bitbucket.org/snrism/containet.git
[submodule "old/oit-dns-princeton"]
	path = old/oit-dns-princeton
	url = git@github.com:shahifaqeer/oit-dns.git
[submodule "old/disinformation-foci-2020"]
	path = old/disinformation-foci-2020
	url = git@github.com:ahounsel/disinfo-infra.git
[submodule "old/broadband-tprc-2021"]
	path = old/broadband-tprc-2021
	url = git@github.com:noise-lab/tprc2021-broadband.git
[submodule "old/comcast-analysis-2015"]
	path = old/comcast-analysis-2015
	url = git@github.com:PrincetonUniversity/comcast-analysis.git
[submodule "old/latency-bitag-2022"]
	path = old/latency-bitag-2022
	url = git@github.com:bitag-twg-org/latency-explained.git
[submodule "pcapml-paper"]
	path = pcapml-paper
	url = git@github.com:JordanHolland/sound-ta.git
[submodule "old/echo-dns"]
	path = old/echo-dns
	url = git@github.com:ccied/echo_dns_paper.git
[submodule "old/dns-mba-pam-2021"]
	path = old/dns-mba-pam-2021
	url = git@github.com:noise-lab/dns-mba.git
[submodule "old/campusnet-princeton-proposal"]
	path = old/campusnet-princeton-proposal
	url = git@github.com:PrincetonUniversity/campusnet.git
[submodule "old/go-traffic-analysis"]
	path = old/go-traffic-analysis
	url = git@github.com:schmittpaul/traffic-analysis.git
[submodule "old/iot-inspector-imwut-2020"]
	path = old/iot-inspector-imwut-2020
	url = git@github.com:noise-lab/iot-inspector-paper.git
[submodule "old/onion-usenix-2018"]
	path = old/onion-usenix-2018
	url = git@github.com:citp/onion-service-usability.git
[submodule "old/computer-networks-book"]
	path = old/computer-networks-book
	url = git@github.com:noise-lab/computer-networks-book.git
[submodule "old/censored-planet-dns"]
	path = old/censored-planet-dns
	url = git@bitbucket.org:ben-jones/cp-dns-paper.git
[submodule "old/oblivious-cdn"]
	path = old/oblivious-cdn
	url = https://github.com/ae243/obliviousCDN.git
[submodule "old/ietf-oblivious-dns"]
	path = old/ietf-oblivious-dns
	url = git@github.com:amankin/annee-dprive-oblivious-dns.git
[submodule "old/video-qoe-sigmetrics-2019"]
	path = old/video-qoe-sigmetrics-2019
	url = git@github.com:inria-muse/ta_congestion.git
[submodule "old/tor-dns-ndss-2017"]
	path = old/tor-dns-ndss-2017
	url = git@github.com:NullHypothesis/tor-dns.git
[submodule "old/ndt"]
	path = old/ndt
	url = git@github.com:ndt-project/ndt.git
[submodule "old/echo-paper-2015"]
	path = old/echo-paper-2015
	url = git@github.com:ccied/echo_paper.git
[submodule "old/viziot-hester"]
	path = old/viziot-hester
	url = git@github.com:jhester/viziot-imwut21.git
[submodule "consolidation"]
	path = consolidation
	url = git@github.com:BrennanSchaffner/consolidation.git
[submodule "old/pap-packet-transformer"]
	path = old/pap-packet-transformer
	url = git@github.com:JordanHolland/pap-packet-transformer.git
[submodule "old/crossfuzz"]
	path = old/crossfuzz
	url = git@github.com:CrossFuzz/hrs-paper.git
[submodule "old/ci-hcomp-2019"]
	path = old/ci-hcomp-2019
	url = git@github.com:yansh/CI-PETS.git
[submodule "bitag2"]
	path = bitag2
	url = git@github.com:bitag-twg-org/bitag2.0.git
[submodule "old/centinel"]
	path = old/centinel
	url = git@github.com:projectbismark/centinel.git
[submodule "old/active-probing-imc-2015"]
	path = old/active-probing-imc-2015
	url = git@github.com:SweetDJ/Tor-GFC.git
[submodule "old/covid-isp-pam-2021"]
	path = old/covid-isp-pam-2021
	url = git@github.com:noise-lab/COVID-study.git
[submodule "best-practices"]
	path = best-practices
	url = git@github.com:noise-lab/best-practices.git
[submodule "old/ooni-probe"]
	path = old/ooni-probe
	url = https://git.torproject.org/ooni-probe.git
[submodule "old/traffic-refinery-paper-sigmetrics-2021"]
	path = old/traffic-refinery-paper-sigmetrics-2021
	url = git@github.com:schmittpaul/netmicroscope_paper.git
[submodule "old/doh-tprc-2019"]
	path = old/doh-tprc-2019
	url = git@github.com:schmittpaul/tprc_doh.git
[submodule "old/iot-relationships-old"]
	path = old/iot-relationships-old
	url = git@github.com:NoahApthorpe/IoT-Relationships-CHI.git
[submodule "old/iot-cleartext-2018"]
	path = old/iot-cleartext-2018
	url = git@github.com:danielph312/CompEnc.git
[submodule "old/blockpage-imc-2014"]
	path = old/blockpage-imc-2014
	url = git@bitbucket.org:phillipagill/blockpage-identification-project.git
[submodule "old/ietf-censorship-rfc"]
	path = old/ietf-censorship-rfc
	url = git@github.com:feamster/rfc-censorship-tech.git
[submodule "old/courses/ai4all-iot"]
	path = old/courses/ai4all-iot
	url = git@github.com:NoahApthorpe/AI4All-IoT.git
[submodule "old/amir-iot-imwut-2023"]
	path = old/amir-iot-imwut-2023
	url = git@github.com:heterogenous-iot/hiot-paper.git
[submodule "dnssec-measurement"]
	path = dnssec-measurement
	url = git@github.com:ekr/dnssec-measurement.git
[submodule "old/turkmenistan-www-2023"]
	path = old/turkmenistan-www-2023
	url = git@github.com:np-tokumei/tm_paper.git
[submodule "quic-channel"]
	path = quic-channel
	url = git@github.com:noise-lab/quic-channel.git
[submodule "ml-book"]
	path = ml-book
	url = git@github.com:SystemsApproach/ml.git
[submodule "courses/ml-networking"]
	path = courses/ml-networking
	url = https://github.com/noise-lab/ml-networking/
[submodule "courses/ml-systems"]
	path = courses/ml-systems
	url = git@github.com:noise-lab/ml-systems.git
[submodule "courses/ml-systems-solutions"]
	path = courses/ml-systems-solutions
	url = git@github.com:noise-lab/ml-systems-solutions.git
[submodule "tls-embeddings"]
	path = tls-embeddings
	url = git@github.com:andrewcchu/tls-embeddings-paper.git
[submodule "ml-dns-censorship"]
	path = ml-dns-censorship
	url = git@github.com:np-tokumei/ML-assisted-DNS-censorship-detection.git
[submodule "netml"]
	path = netml
	url = git@github.com:chicago-cdac/netml.git
[submodule "shortpaper-template"]
	path = shortpaper-template
	url = git@github.com:noise-lab/shortpaper-template.git
[submodule "dns-measurement"]
	path = dns-measurement
	url = git@github.com:noise-lab/dns-measurement.git
[submodule "old/autoencoder-2022"]
	path = old/autoencoder-2022
	url = git@github.com:junchenj/Autoencoder-FullPaper.git
[submodule "ddns-privacy"]
	path = ddns-privacy
	url = git@github.com:noise-lab/ddns-privacy.git
[submodule "nsf-template"]
	path = nsf-template
	url = git@github.com:noise-lab/nsf-template.git
[submodule "consolidation-paper"]
	path = consolidation-paper
	url = git@github.com:SynthiaWang/consolidation_paper.git
[submodule "old/nsf-cise-anr-2022"]
	path = old/nsf-cise-anr-2022
	url = git@github.com:stanford-esrg/nets19-passive-proposal.git
[submodule "old/faccts-2023"]
	path = old/faccts-2023
	url = git@github.com:wontoniii/FACCTS2023.git
[submodule "old/nsf-cise-autoencoder-2022"]
	path = old/nsf-cise-autoencoder-2022
	url = git@github.com:junchenj/Autoencoder-Medium2022.git
[submodule "old/nsf-satc-privacy-2020"]
	path = old/nsf-satc-privacy-2020
	url = git@github.com:chicago-cdac/satc-privacyreal-2020.git
[submodule "old/nsf-cc-netai-2021"]
	path = old/nsf-cc-netai-2021
	url = git@github.com:agupta13/DemocratizeNetAI_CC.git
[submodule "old/nsf-imrp-2022"]
	path = old/nsf-imrp-2022
	url = git@github.com:agupta13/NSF-IMR22-Planning.git
[submodule "measurement-chatbot"]
	path = measurement-chatbot
	url = git@github.com:UChicago-pol-methods/measurement-chatbot.git
[submodule "old/nsf-medium-videoconf"]
	path = old/nsf-medium-videoconf
	url = git@github.com:junchenj/NSF-Medium-VideoConferencing.git
[submodule "old/nsf-satc-content-2021"]
	path = old/nsf-satc-content-2021
	url = git@github.com:ChicagoHAI/satc-2021.git
[submodule "old/nsf-scc-2021"]
	path = old/nsf-scc-2021
	url = git@github.com:noise-lab/nsf-scc-2021.git
[submodule "old/c3"]
	path = old/c3
	url = git@github.com:stanford-esrg/c3.ai-dti-2022.git
[submodule "old/covid-connectivity-2020"]
	path = old/covid-connectivity-2020
	url = git@github.com:chicago-cdac/covid-connectivity-2020.git
[submodule "old/c3-ai-leftout-2020"]
	path = old/c3-ai-leftout-2020
	url = git@github.com:UChicagoSUPERgroup/c3ai2020leftout.git
[submodule "old/c3-covid-misinfo-2020"]
	path = old/c3-covid-misinfo-2020
	url = git@github.com:chicago-cdac/covid-misinfo-2020.git
[submodule "old/nsf-ai-planning-2020"]
	path = old/nsf-ai-planning-2020
	url = git@github.com:chicago-cdac/nsf-ai-planning-2020.git
[submodule "old/nsf-satc-iot-2017"]
	path = old/nsf-satc-iot-2017
	url = git@github.com:princeton-sns/nsf-iot-security.git
[submodule "old/nsf-satc-dns-2020"]
	path = old/nsf-satc-dns-2020
	url = git@github.com:feamster/nsf-satc-dns-2020.git
[submodule "old/nsf-ccri-netrics-2021"]
	path = old/nsf-ccri-netrics-2021
	url = git@github.com:feamster/ccri-netrics-2021.git
[submodule "old/nsf-satc-frontier-2019"]
	path = old/nsf-satc-frontier-2019
	url = git@github.com:chicago-cdac/satc-frontier-2019.git
[submodule "old/nsf-overcome-2021"]
	path = old/nsf-overcome-2021
	url = git@github.com:chicago-cdac/Overcome-2021.git
[submodule "old/nsf-satc-frontier-2021"]
	path = old/nsf-satc-frontier-2021
	url = git@github.com:chicago-cdac/satc-frontiers-2021.git
[submodule "old/nsf-imr-2022"]
	path = old/nsf-imr-2022
	url = git@github.com:chicago-cdac/nsf-imr-2022.git
[submodule "old/nsf-self-driving-2022"]
	path = old/nsf-self-driving-2022
	url = git@github.com:noise-lab/self-driving-nets-large.git
[submodule "old/faccts2020"]
	path = old/faccts2020
	url = git@github.com:wontoniii/FACCTS2020.git
[submodule "old/nsf-imr-mm-2023"]
	path = old/nsf-imr-mm-2023
	url = git@github.com:chicago-cdac/nsf-imr-mm-2023.git
[submodule "old/nsf-cise-access-2019"]
	path = old/nsf-cise-access-2019
	url = git@github.com:feamster/access_nets_proposal_2019.git
[submodule "old/faccts2021"]
	path = old/faccts2021
	url = git@github.com:wontoniii/FACCTS2021.git
[submodule "old/iotnet-bloomberg-2019"]
	path = old/iotnet-bloomberg-2019
	url = git@github.com:feamster/iotnet.git
[submodule "old/satc-eager-edu-2020"]
	path = old/satc-eager-edu-2020
	url = git@github.com:chicago-cdac/satc-eager-edu-2020.git
[submodule "old/nsf-ai-info-sharing-2020"]
	path = old/nsf-ai-info-sharing-2020
	url = git@github.com:gfanti/information-sharing-nsf.git
[submodule "old/inria-google-2018"]
	path = old/inria-google-2018
	url = git@github.com:inria-muse/google-award-2018.git
[submodule "old/nsf-nets-dns-2018"]
	path = old/nsf-nets-dns-2018
	url = git@github.com:schmittpaul/2018nets-small-DNS.git
[submodule "old/nsf-cic-2020"]
	path = old/nsf-cic-2020
	url = git@github.com:chicago-cdac/nsf-cic-2020.git
[submodule "old/nsf-self-driving-nextg"]
	path = old/nsf-self-driving-nextg
	url = git@github.com:agupta13/self-driving-nextg.git
[submodule "model-drift"]
	path = model-drift
	url = git@github.com:noise-lab/model-drift.git
[submodule "old/nsf-pfi-netmicro-2023"]
	path = old/nsf-pfi-netmicro-2023
	url = git@github.com:netmicroscope/PFI-2023.git
[submodule "meeting-notes"]
	path = meeting-notes
	url = git@github.com:noise-lab/meeting-notes.git
[submodule "nsf-cps-eager-2023"]
	path = nsf-cps-eager-2023
	url = git@github.com:noise-lab/nsf-cps-eager-2023.git
[submodule "big-ideas-2023"]
	path = old/big-ideas-2023
	url = git@github.com:chicago-cdac/big-ideas-2023.git
[submodule "iei-cacm-2023"]
	path = iei-cacm-2023
	url = git@github.com:chicago-cdac/iei-cacm-2023.git
[submodule "internet-equity.github.io"]
	path = internet-equity.github.io
	url = git@github.com:internet-equity/internet-equity.github.io.git
[submodule "smart-tv-attack"]
	path = smart-tv-attack
	url = git@github.com:tejaskannan/smart-tv-acoustic-attack-paper.git
[submodule "nsf-nets-governance-2023"]
	path = nsf-nets-governance-2023
	url = git@github.com:noise-lab/nsf-nets-governance-2023.git
[submodule "privacy-dnn-ccs"]
	path = privacy-dnn-ccs
	url = git@github.com:tejaskannan/early-exit-privacy-paper-ccs.git
